body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0px 2px 3px black;
}

#background{
  background-image: url(images/bg.png);
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

a:link, a:visited, a:hover, a:active{
  color: white;
}

#con{
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 30px;
}

#con #left{
  margin-top: 30px;
  width: 300px;
  float: left;
  margin-right: 30px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

#logo{
  width: 300px;
  height: 300px;
  background: url(images/logo.png) no-repeat;
}

#rsvp{
  margin-top: 30px;
}

.rsvp-input{
  padding: 10px 0px 0px 0px;
  font-size: 16px;
}

.rsvp{
  width: 293px;
  height: 30px;
  font-size: 22px;
  margin: 0;
}

.rsvp:focus{
  outline: none;
}

#rsvp-button{
  display: block;
  margin: 10px 0px 0px 0px;
  width: 300px;
  height: 44px;
  padding-top: 16px;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
  font-size: 24px;
}

#con #mid{
  width: 300px;
  min-height: 50px;
  float: left;
  padding-top: 30px;
}

#mid .event-item{
  width: 300px;
  overflow: hidden;
  padding: 30px 0px 0px 0px;
}

#mid .event-item-left{
  width: 60px;
  float: left;
}

#mid .event-item-left img{
  height: 55px;
  width: 55px;
  border: 5px solid white;
  box-shadow: 0px 2px 3px black;
}

.headtitle{
  font-size: 22px;
}

#mid .hostname{
  width: 220px;
  padding-left: 20px;
  float: left;
  padding-bottom: 8px;
  font-weight: bold;
}

#mid .hostdesc{
  padding-left: 20px;
  font-size: 14px;
  width: 220px;
  float: left;
}

#mid .event-talk-pic{
  float: left;
}

#con #right{
  width: 300px;
  float: left;
  margin-left: 30px;
  padding-top: 30px;
}
.attendee{
  padding-top: 30px;
  overflow: hidden;
}
.attendee-left{
  width: 40px;
  height: 40px;
  float: left;
}
.attendee-right{
  width: 260px;
  float: right;
}
.attendee-pic{
  height: 40px;
  width: 40px;
}
.attendee-name{
  padding-left: 10px;
  padding-top: 10px;
}

#right img{
  height: 30px;
  width: 30px;
  border: 5px solid white;
}

#main{
  color: white;
  font-family: sans-serif;
  width: 300px;
  margin: 0 auto;
  padding-top: 420px;
}

#con{
  padding: 0px 20px 0px 20px;
  margin-bottom: 60px;
}